{% extends 'base.html' %}
{% load static %}
{% block title %}Know Who are We ! {% endblock title %}
{% block main %}
<div id="page">


	<aside id="cse-hero">
		<div class="flexslider">
			<ul class="slides">
				<li style="background-image: url({% static 'images/abs.jpg' %});">
					<div class="overlay-gradient"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center slider-text">
								<div class="slider-text-inner">
									<h1 class="heading-section">About Us</h1>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>

	<div id="cse-about">
		<div class="container">
			<div class="col-md-6 animate-box">

				<h2>Welcome to CSE</h2>
				<p>CSE stand for collage of software engineering</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="images/bg1.jpg">
			</div>
		</div>
	</div>

	<div id="cse-counter" class="cse-counters" style="background-image: url({% static 'images/' %});"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<!-- <span class="icon"><i class="icon-world"></i></span> -->
							<!-- <span class="cse-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span> -->
							<!-- <span class="cse-counter-label">Foreign Followers</span> -->
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-study"></i></span>
							<span class="cse-counter js-counter" data-from="0" data-to="100" data-speed="5000"
								data-refresh-interval="50"></span>
							<span class="cse-counter-label">Students Enrolled</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-bulb"></i></span>
							<span class="cse-counter js-counter" data-from="0" data-to="10" data-speed="5000"
								data-refresh-interval="50"></span>
							<span class="cse-counter-label">Classes </span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-head"></i></span>
							<span class="cse-counter js-counter" data-from="0" data-to="20" data-speed="5000"
								data-refresh-interval="50"></span>
							<span class="cse-counter-label">Certified Teachers</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="cse-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center cse-heading">
					<h2>Course categories</h2>
					<!-- <p>lorem </p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">

							<i class="fa-solid fa-globe"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Web Development</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa-solid fa-network-wired"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Networking </a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-tally-4"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Tally</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa-solid fa-desktop"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Basic Computer Course</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-photo"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Graphic Design</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa-solid fa-code"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Programming Language</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa-solid fa-people-group"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Tuition class 1/Bachelor</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa-solid fa-user-graduate"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Prepration class</a></h3>
							<p>lorem </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="cse-testimonial" style="background-image: url({% static 'images/school.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center cse-heading">
					<h2><span>Testimonials</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url({% static 'images/sir.jpg' %});">
									</div>
									<span>Navraj Adhakari<br><small>CEO</small></span>
									<blockquote>
										<p>&ldquo;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum,
											similique.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url({% static 'images/person2.jpg' %});">
									</div>
									<span>Bipin Pyakurel<br><small>Director</small></span>
									<blockquote>
										<p>&ldquo;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum,
											similique.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url({% static 'images/sir2.jpg' %});">
									</div>
									<span>Monu<br><small>Students</small></span>
									<blockquote>
										<p>&ldquo;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum,
											similique.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="cse-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center cse-heading">
					<h2>Events</h2>



				</div>
			</div>
			<div class="row row-padded-mb">
				<div class="col-md-4 animate-box">
					<div class="cse-event">
						<div class="date text-center"><span>10<br>May.</span></div>
						<h3><a href="#"></a></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<p><a href="#">Read More</a></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="cse-event">
						<div class="date text-center"><span>18<br>May.</span></div>
						<h3><a href="#">Cse, Nepal</a></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<p><a href="#">Read More</a></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="cse-event">
						<div class="date text-center"><span>18<br>May.</span></div>
						<h3><a href="#">Cse, Nepal</a></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<p><a href="#">Read More</a></p>
					</div>
				</div>


				<div id="cse-gallery" class="cse-bg-section">
					<div class="row text-center">
						<h2><span>Sponser</span></h2>
					</div>
					<div class="row">
						<div class="col-md-3 col-padded">
							<a href="images/bg2.jpg" class="gallery"
								style="background-image: url({% static 'images/bg2.jpg' %});"></a>

						</div>
						<div class="col-md-3 col-padded">
							<a href="images/bg3.jpeg" class="gallery"
								style="background-image: url({% static 'images/bg3.jpeg' %});"></a>
						</div>
						<div class="col-md-3 col-padded">
							<a href="#" class="gallery"
								style="background-image: url({% static 'images/sp.jpg' %});"></a>
						</div>
						<div class="col-md-3 col-padded">
						</div>
					</div>
				</div>
			</div>
		</div>
		<section id="fotter">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- <img src="images/logo.jpg"> -->
						<br>
						<h4 class="text-center">About</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
						<div class="row">
							<div class="col-md-9">
								<i class="fa-solid fa-phone "><span class="fotter-icon">+977-9862079340</span></i>
								<hr>

								<i class="fa-solid fa-envelope"><span class="fotter-icon">
										navrash007@gmail.com</span></i>
								<hr>
								<i class="fa-solid fa-location-pin"><span class="fotter-icon"> Main road,बिराटनगर 56613
									</span></i>
								<hr>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<br>
						<h4 class="text-center">Ouick Link</h4>
						<ul class="quick_link">
							<a href="index.html">
								<li class="quick">Home </li>
							</a>
							<a href="courses.html">
								<li class="quick">Course </li>
							</a>
							<a href="about.html">
								<li class="quick">About </li>
							</a>
							<a href="form.html">
								<li class="quick">Admission form </li>
							</a>


						</ul>
					</div>
					<div class="row">
						<div class="col-md-5">
							<br>
							<h4 class="text-center img">Subscribe Newsletter</h4>
							<p class="p">Subscribe NewsletterDon't miss to subscribe to our news feed, Get the latest
								updates from us!</p>

						</div>
						<div class="row">
							<div class="col-md-3 myy">
								<div class="control has-icons-left has-icons-right">
									<input class="input is-large" type="email" placeholder="Email">
									<span class="icon is-left">
										<i class="fas fa-envelope"></i>
									</span>

									</span>
								</div>
							</div>

							<p> <button class="button is-success is-light "
									style="background-color: red; height: 36px; size: 10px; color: #ffff; font-size: 16px; ">Subscribe
								</button></p>

						</div>
					</div>
				</div>
			</div>
			<hr class="hr">
			<div class="icons">

				<i class="icon-facebook2 hello"></i>
				<i class="icon-twitter2 hello"></i>
				<i class="icon-instagram hello"></i>
			</div>
			<p class="cpy">Copyright &copy; All right are reserves</p>

	</div>
	</section>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
{% endblock main %}