{% extends 'base.html' %}
{% block main %}{% load static %}
<aside id="cse-hero">
	<div class="flexslider">
		<ul class="slides">
		   <li style="background-image:url({% static 'images/cb.jpg' %});">
			   <div class="overlay-gradient"></div>
			   <div class="container">
				   <div class="row">
					   <div class="col-md-8 col-md-offset-2 text-center slider-text">
						   <div class="slider-text-inner">
							   <h1 style="color: white;">Our Course</h1>
								<h2 style="color:white;">We are here for different courses</h2>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		  </ul>
	  </div>n
</aside>

<div id="cse-course">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center cse-heading">
				<h2>Our Course</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis libero beatae at dignissimos. Quos, deserunt!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image:url({% static 'images/c2.jpg' %}">)
					</a>
					<div class="desc">
						<h3><a href="#">Web Development</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static 'images/c1.jpg' %};")>
					</a>
					<div class="desc">
						<h3><a href="#">Tally </a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga moleias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">stTake A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static '/images/c2.jpeg' %});">
					</a>
					<div class="desc">
						<h3><a href="#">Tally </a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static 'images/c1.jpg' %});">
					</a>
					<div class="desc">
						<h3><a href="#">Tally </a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image:url({% static 'images/c1.jpg' %});">
					</a>
					<div class="desc">
						<h3><a href="#">Tally </a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static 'images/c1.jpg' %});">
					</a>
					<div class="desc">
						<h3><a href="#">Tally </a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static 'images/c3.jpg' %});">
					</a>
					<div class="desc">
						<h3><a href="#">Prepration Class</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href="#" class="course-img" style="background-image: url({% static 'images/c4.jpg' %});">
					</a>
					<div class="desc">
						<h3><a href="#">Network Engineering</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<span><a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
					</div>
				</div>

			</div>
		</div>
		<p><a class="btn btn-primary btn-lg text-center" href="#">Explore Course</a></p>
	</div>
</div>
</div>

<div id="cse-blog">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center cse-heading">
				<h2>Events</h2>


				
			</div>
		</div>
		<div class="row row-padded-mb">
			<div class="col-md-4 animate-box">
				<div class="cse-event">
					<div class="date text-center"><span>10<br>May.</span></div>
					<h3><a href="#"></a></h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<p><a href="#">Read More</a></p>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="cse-event">
					<div class="date text-center"><span>18<br>May.</span></div>
					<h3><a href="#">Cse, Nepal</a></h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<p><a href="#">Read More</a></p>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="cse-event">
					<div class="date text-center"><span>18<br>May.</span></div>
					<h3><a href="#">Cse, Nepal</a></h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<p><a href="#">Read More</a></p>
				</div>
			</div>


<div id="cse-gallery" class="cse-bg-section">
	<div class="row text-center">
		<h2><span>Sponser</span></h2>
	</div>
	<div class="row">
		<div class="col-md-3 col-padded">
			<a href=url({% static 'images/bg2.jpg' %}) class="gallery" style="background-image: url({% static 'images/bg2.jpg' %} );"></a>
			
		</div>
		<div class="col-md-3 col-padded">
			<a href={% static "images/bg3.jpeg" %} class="gallery" style="background-image: url({% static 'images/bg3.jpg' %});"></a>
		</div>
		<div class="col-md-3 col-padded">
			<a href="#" class="gallery" style="background-image: url({% static 'images/sp.jpg' %});"></a>
		</div>
		<div class="col-md-3 col-padded">
		</div>
	</div>
</div>
</div>
</div>{% endblock main %}